<div class="jumbotron text-center">
	<h1>{{titleEntries}}</h1>
	<p>{{ message }}</p>
		Search: <input type="text" ng-model="search">

</div>



	<p ng-hide ="true"> {{getteams()}}</p>

<div class="container">
  <div class="row row-centered">
    <div class="col-12 col-centered">


      <p bgcolor='#d98ecd'> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;      Pts | Name</p>
         <div ng-repeat="t in getnewfilteredentry() | orderBy: '-points' | filter: (search)">
        <h4>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;    {{t.points}} | <a href="" ng-click="showme=!showme">{{t.name}}</a> </h4>
        <!-- ng-mouseover="showme=!showme"  "showme=!showme -->
          <div ng-repeat="x in getfilteredteams(t.entries)" >
            <h5 ng-show="showme"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{x.type}} | Points: {{x.points}} | Team: {{x.name}}  | Seed: {{x.rank}} | Wins: {{x.wins}} | Eliminated: {{x.eliminated}}</h5>

            </div>




      </div>


    </div>
  </div>


 </div>
